{% extends 'base.html' %}
{% block title %}Panel Estudiante{% endblock %}
{% block content %}
  <div class="bg-white p-6 rounded-xl shadow justify-center">
    <h2 class="text-2xl font-bold text-indigo-600 mb-6">Crear Grupo</h2>

    <form method="post" class="space-y-4 text-left">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-700 transition">
      Crear
      </button>
    </form>

    <p class="mt-6">
      <a href="{% url 'dashboard_student' %}" class="justify-center text-sm text-gray-600 hover:text-indigo-600 transition">
        ← Volver al panel
      </a>
    </p>
  </div>

{% endblock %}